# .htaccess
RewriteEngine On

# Ako fajl ili folder postoji, ne diraj
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# /tournament -> /tournament.html  (query string se automatski čuva)
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+?)/?$ $1.html [L]